.logo {
  height: 10em;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

html {
  height: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.input-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  /* position: absolute;
  top: 50%; */
}

.input-area > button {
  margin-left: 0.5em !important;
}

.search-input {
  margin-right: 0.5em !important;
}

pre {
  display: inline;
  margin-right: 2em;
}

.row {
  margin-top: 1em;
  margin-bottom: 1em;
}

.no-results {
  margin-top: 0.5em;
}

.admin-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.admin-input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 3em !important;
}

.admin-input-area > * {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.admin-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 3em !important;
}

.admin-buttons button {
  width: 100%;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}
